/*colors, body*/
:root {
  --background-color: #e5e5e5;
  --brand-color-01: #2196f3;
  --brand-color-02: #2f303a;
  --highlight-button-color: #188ce8;
}

body {
  font-family: 'Roboto', 'Releway', sans-serif;
  color: #212121;
}

/* active, hover, focus */
.link-active,
.link:hover,
.link:focus {
  color: var(--brand-color-01);
}

.button-active,
.button:hover,
.button:focus {
  background-color: var(--highlight-button-color);
}

/*fonts*/
