/* *****Declaring variables***** */
:root {
  --background-color: #e5e5e5;
  --text-color: #212121;
  --brand-color-01: #2196f3;
  --brand-color-02: #2f303a;
  --highlight-button-color: #188ce8;
}

/* *****Styling body***** */
body {
  background-color: var(--background-color);
  font-family: 'Roboto', 'Releway', sans-serif;
  color: var(--text-color);
}

/* *****Main page elements styling by classes***** */
.header {
  background-color: #ffffff;
}
.logo {
  color: var(--brand-color-01);
  font-family: 'Releway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}
.address-header {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}
.title {
  background-color: var(--brand-color-02);
}
.title .slogan {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
}
.title .button {
  background-color: var(--brand-color-01);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
}
.benefits {
  font-size: 14px;
}
.benefits-subtitle {
  font-weight: 700;
  line-height: 1.1;
}
.benefits-text {
  color: #757575;
  line-height: 1.7;
}
.desc-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}
.team {
  background-color: #f5f4fa;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}
.team-list {
  font-size: 16px;
  line-height: 1.2;
}
.team-subtitle {
  font-weight: 500;
}
.team-desc {
  color: #757575;
}
.footer {
  background-color: var(--brand-color-02);
}
.address-footer {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.7;
}
.address-footer .link {
  color: rgba(255, 255, 255, 0.6);
}

/* *****Portfolio elements styling by classes***** */
.gallery-filter .button,
.gallery-filter .button-active {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
}
.gallery-filter .button {
  background-color: #f5f4fa;
}
.gallery-filter .button-active {
  background-color: var(--brand-color-01);
  color: #ffffff;
}
.gallery-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.gallery-desc {
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
}

/* *****Elements behavior***** */
.link-active,
.link:hover,
.link:focus {
  color: var(--brand-color-01);
}

.button-active,
.button:hover,
.button:focus {
  background-color: var(--highlight-button-color);
}
